docs/references/n8n-reference.json
{
  "name": "Fluxo Aula 6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cliente2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "14c6fb05-d8c0-4b30-b457-a7a3f5b3dabd",
      "name": "Webhook",
      "webhookId": "6858cc1a-d1aa-430a-949b-3c69170d59f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7855eba-118e-4fc3-b3a3-d57d9b9f7d5b",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "5c71433d-6daa-4339-ac3d-6a47eda8b2c3",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "1348491a-053d-4e21-889b-dbed205b5582",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e1f5cce7-c48b-4a21-85a9-b24c0b6e770c",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "8aba196b-0960-4784-8fa4-a539c4b2af4e",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d11e0dc4-c93a-434c-8e05-c440dbe07694",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "c12f0cfc-dd51-4dc1-82fb-fe5eed945442",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "d6c21acd-242e-4fc7-9eb7-5746c587e9b4",
              "name": "timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "a86976ac-c21b-4297-888e-c25045665fd5",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "2a1803a3-29e7-4fd5-a97d-0e44c1488d6c",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é o atendente de vendas da loja ACME materiais de construção."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3780,
        0
      ],
      "id": "3d3bb24c-e098-4c98-a4cf-63fa1f60aa49",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4140,
        320
      ],
      "id": "dcd34623-8075-4001-aef8-9c6defabab64",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IPpJhRb0Eidrw7i6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} chat-memory",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3800,
        320
      ],
      "id": "30f2878f-97dd-46fd-a9fa-0c4aef0a31a8",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb255fff-d4e6-420e-ae35-8d0e526d517f",
              "name": "message",
              "value": "={{ $('Dados').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -20
      ],
      "id": "07ddf208-9886-4076-b812-be4e12d3a135",
      "name": "Mensagem de Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "154bd099-d91c-4a41-b3c8-ff27c01c6bba",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        -20
      ],
      "id": "d3e08429-c35b-47f6-a74f-ec84bbdb2501",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c0d0822e-4f78-427f-8c4b-67c4b8974d5c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0da5314b-7104-4840-a534-fbb84a61e210",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "0cbe9d65-6b46-4d14-b4ef-02868d243c2f",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.instance }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        620,
        240
      ],
      "id": "7bb48a18-f1b2-4488-8f32-f2da9056ade4",
      "name": "Get Base 64",
      "credentials": {
        "evolutionApi": {
          "id": "4yxQIg95QxpNaWth",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "=audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        760,
        240
      ],
      "id": "c5d01c58-52da-4860-b37a-e1187556d292",
      "name": "Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f5b4543-ba16-470f-b425-ace2c48b0fbd",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        240
      ],
      "id": "0f018ae0-f274-4ae8-9f5d-cbc66df721d1",
      "name": "Mensagem de Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        240
      ],
      "id": "5cacb311-993e-41a9-b37c-06ff4b8165e8",
      "name": "Groq",
      "credentials": {
        "groqApi": {
          "id": "iOgl9R1xC6Tp1Qm9",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "07cfde11-af08-4bf8-a287-80ebac0d461c",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        -20
      ],
      "id": "95c803bb-5224-4458-8b18-abcec71ff336",
      "name": "fromMe?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} block",
        "value": "true",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1740,
        -300
      ],
      "id": "b06dff41-4fa3-4360-8d80-dccae23b4397",
      "name": "Set Chave Block",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1960,
        -300
      ],
      "id": "53a466a0-d41c-4285-801c-65f0113d61e8",
      "name": "Inserir Mensagem do Atendente"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1800,
        0
      ],
      "id": "4565cec3-b05d-47e7-be72-e9af652a35ce",
      "name": "Buscar Chave Block",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b167fa0-cad8-4277-9321-70c31a2d7a54",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        0
      ],
      "id": "12ddcc60-31d1-40fa-9ec9-b0d90b6baafa",
      "name": "isBlocked?"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp",
        "messageData": "={{ $('Mensagem').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2260,
        20
      ],
      "id": "9a7b8657-3a34-4c6d-a06c-e6796a03e2f3",
      "name": "Mensagem Temporária",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        20
      ],
      "id": "2b759351-0264-4a5c-aece-34900b9d8e76",
      "name": "Esperar 10 segundos",
      "webhookId": "d722d1e2-51b7-496d-9e98-0abfa5ff2511"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2700,
        20
      ],
      "id": "9888402c-a9db-4a7c-bc97-1ee0eca8337e",
      "name": "Mensagens temporárias",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2618b273-4a56-4747-bd2c-0e5c29545e61",
              "leftValue": "={{ $json.mensagens.last() }}",
              "rightValue": "={{ $('Mensagem').item.json.message }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2920,
        20
      ],
      "id": "919eb932-c396-40b4-b989-b0b7784010c9",
      "name": "Última Mensagem?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3200,
        0
      ],
      "id": "b2ebf6de-7bbe-4405-a4aa-7469938ddd8e",
      "name": "Deletar Lista Temporária",
      "credentials": {
        "redis": {
          "id": "P1ehQkJSakztQ7Af",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff1d2060-683a-4604-9b76-2b2b15e8b3df",
              "name": "message",
              "value": "={{ $('Mensagens temporárias').item.json.mensagens.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3420,
        0
      ],
      "id": "dcace135-b258-4e2d-a03f-556668ccd0ef",
      "name": "Mensagem Final"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "2c087ff8-ff05-4495-9285-e394206fb9e4",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4520,
        220
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formate e separe a seguinte mensagem: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\nAs mensagens devem ser divididas de forma humanizada e legíveis para Whatsapp.\n\n### Jamais separe uma mensagem vazia.\n\n### Tudo o que for link, envie em texto simples, na seguinte formatação: www.example.com\n\nO máximo de mensagens divididas é 4. Nunca mais do que 4 mensagens.\n\nNunca altere o texto original, remova as notações markdown quando presentes, deixando apenas texto simples com pontuações e acentuação das palavras.\n\nNunca invente nenhuma informação.\n\nO texto final deve ser o texto original divido em mensagens menores (quando necessário).\n\nCaso a mensagem já for curta, deixe o array com apenas uma mensagem.\n\nNunca invente nenhum link, nem altere a mensagem original, de forma alguma. É proíbido alterar a mensagem original, a não ser que seja para remover markdown do texto e ajustar links, exemplo:\n\nErrado: !(www.example.com)[https://www.example.com]\nCerto: https://www.example.com"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        4380,
        0
      ],
      "id": "5a3f4f60-4590-4e3c-98bb-d816a9a73edc",
      "name": "Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "message"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4800,
        0
      ],
      "id": "a65afc83-5a10-48fd-963d-bf8467ff22e2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5020,
        0
      ],
      "id": "c5afd9ae-af21-44e3-bdc2-3e09acd00608",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "remoteJid": "={{ $('Dados').item.json.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 2000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5360,
        20
      ],
      "id": "7fdfe0c9-15f7-4417-9eab-bf5c62776058",
      "name": "Enviar Mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "4yxQIg95QxpNaWth",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "remoteJid": "={{ $('Dados').item.json.remoteJid }}",
        "messageId": "={{ $('Dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2480,
        220
      ],
      "id": "8bff908d-ff29-4919-aa75-c2a116b71ba6",
      "name": "Visualizar",
      "credentials": {
        "evolutionApi": {
          "id": "4yxQIg95QxpNaWth",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2360,
        -300
      ],
      "id": "1753f6a7-61d2-4e32-8bba-380aab958c00",
      "name": "Inserir Mensagem Cliente"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "conhecimentos",
        "toolDescription": "base de conhecimentos",
        "tableName": "chapeu_rag",
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        3860,
        460
      ],
      "id": "11c08e1c-8311-4d37-baac-9e4189af5ca7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "MaFsK29etIQNG7bM",
          "name": "Postgres PG Vector"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3860,
        600
      ],
      "id": "4f3d1f4f-0a7c-4d47-b890-4b03ec454afc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IPpJhRb0Eidrw7i6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Inserir Mensagem do Atendente",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Inserir Mensagem Cliente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Texto": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "fromMe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Mensagem de Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base 64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base 64": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Audio": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq": {
      "main": [
        [
          {
            "node": "Mensagem de Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe?": {
      "main": [
        [
          {
            "node": "Set Chave Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Chave Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chave Block": {
      "main": [
        [
          {
            "node": "Inserir Mensagem do Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Chave Block": {
      "main": [
        [
          {
            "node": "isBlocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isBlocked?": {
      "main": [
        [
          {
            "node": "Inserir Mensagem Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Temporária": {
      "main": [
        [
          {
            "node": "Esperar 10 segundos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Visualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 10 segundos": {
      "main": [
        [
          {
            "node": "Mensagens temporárias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens temporárias": {
      "main": [
        [
          {
            "node": "Última Mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última Mensagem?": {
      "main": [
        [
          {
            "node": "Deletar Lista Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Lista Temporária": {
      "main": [
        [
          {
            "node": "Mensagem Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Final": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2a0d8df-745e-4168-990c-b17fd4b0e7a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6686a595e1d09eb5a5f187cadc2cebaad9f35efa10ffe940bb2812fada821c7b"
  },
  "id": "VkfYrLxD6EzgHgBR",
  "tags": []
}
